{% include topnav.html %}
<div class="container">

  <link rel="stylesheet" href="/assets/css/syntax.css"/>

        <div class="row row-offcanvas row-offcanvas-left">

            <!-- sidebar -->
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">

                {% include sidebar.html %}</div>




                    


                    {{content}}

        </div><!--/.container-->


    </div><!--/.page-container-->
    {% include footer.html %}


</body>

</html>
